#canvasContainer {
  width: 600px;
  height: 600px;
  border: solid 5px black;
  display: flex;
  flex-flow: row wrap;
}
.canvas {
  display: flex;
  box-sizing: border-box;
  border: solid 0.1px rgb(245, 245, 245);
}
