#canvasContainer {
    width:600px;
    height:600px;
    border:solid 5px black;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;
}

.canvasRow {
    display:flex;
}

.canvasColumn {
    display:flex;
}
